---
title: SignalCloud
description: Introducing a new way to ask a question and get an answer, from just about anyone, anywhere.
head_icon: /images/logo-big.png
lead: Introducing <strong>SignalCloud</strong>, a new way to ask a question and get an answer, from just about anyone, anywhere. Our tools make it easy to take intelligent, informed actions based on input from just about anyone with a mobile phone.

---

/ Cool photos and places
#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
  / Carousel items
  - carousel_data = YAML::load_file(File.join(File.expand_path('~'), 'Sites', 'signalcloud-web', 'config', 'carousel.yaml'))
  .carousel-inner
    - carousel_data.each_with_index do |entry, index|
      %div{class: [ 'item', (index == 0 ? 'active' : ''), entry['id'] ] }
        .geotag
          %a{href: "https://maps.google.com/maps?q=#{entry['google_map_search']}", target: '_blank' }= entry['label']
        .marker
        .tagline Ask. Answer. Even here.
  / Carousel navigation
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


/ Navigation
#navbar_wedge
  #myNavbar.navbar.navbar-inverse.navbar-static-top{ style: 'z-index:100', 'data-spy' => "affix", "data-offset-top" => 400 }
    .navbar-inner
      .container
        / Responsive Navbar Part 1: Button for triggering responsive navbar
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %i.icon-reorder
        
        / Brand
        %a.brand{:href => "/index.html"} SignalCloud
        / %img.logo{src: '/images/logo-navbar.png'}
      
        / Responsive Navbar Part 2: Collapsable navbar contents
        .nav-collapse.collapse
          %ul.nav
            %li
              %a.whatwedo{href:'#whatwedo'}
                %i.icon-question-sign.icon-large
                What?
            %li
              %a.inspiration{href:'#inspiration'}
                %i.icon-lightbulb.icon-large
                Inspiration?
            %li
              %a.howitworks{href:'#howitworks'}
                %i.icon-wrench.icon-large
                How?
            %li
              %a.getstarted{href:'#getstarted'}
                %i.icon-road.icon-large
                Ready?
            %li
              %a.contact{href:'#contact'}
                %i.icon-envelope-alt.icon-large
                Questions?
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{href:'#', 'data-toggle'=>'dropdown'}
                %i.icon-bolt.icon-large
                For Devs
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'API', '/api'
                %li= link_to 'Security & Privacy', '/security'
                %li= link_to 'Platform', '/platforms'


/ Header
- render 'header' do
  %a.btn.btn-large.btn-warning{href: "#getstarted"}
    %i.icon-plus.icon-large
    Sign up today
  %a.btn.btn-large.btn-success{href: "#inspiration"}
    %i.icon-lightbulb.icon-large
    Get some ideas


/ Featurettes
.featurettes

  / What we do  
  #whatwedo
    .header
      .container
        .row
          .span3.featurette-icon
            %i.icon-comments
          .span9
            %h2
              What do we do?
              %span.muted We connect.
            %p.lead SignalCloud is a service to connect you to just about anyone with a mobile phone to ask them a question you need an answer to. We listen for their answer, understand their response, and get back to you quickly so that you can take intelligent, informed action.
            / %p.lead Think of it as a quick way to authorise a one-time action or event, like charging a credit card, running a business report, or confirming an appointment.
  
    .container.featurette
      %p SignalCloud is an effective and simply way to build interactivity into your business workflows. Wherever you need to human confirmation of an action or event in your automated business proceses, SignalCloud can contact just about anyone, just about anywhere, quickly and efficiently.
    
      .row{style:'font-size:150%; margin-top: 40px;'}
        .span3
          %span.muted Step
          1
        .span3
          %span.muted Step
          2
        .span3
          %span.muted Step
          3
        .span3
          %span.muted Step
          4
    
      .row
        .span3
          %h3{style:'margin-top:0px;'} You ask.
          %p Ask a question with an answer both you and the customer should know, and tell us their mobile number.
        
        .span3
          %h3{style:'margin-top:0px;'} We connect.
          %p We'll contact them on your behalf and pop the question. We can connect with mobile phones from around the world. And we'll use a phone number dedicated to you - no number sharing here!
        
        .span3
          %h3{style:'margin-top:0px;'} They answer.
          %p We'll wait for your customer to respond. Once we hear from them, we'll understand their response to your question.
        
        .span3
          %h3{style:'margin-top:0px;'} We respond.
          %p We'll contact you right away to let you know how your customer responded. We'll let you know how they responded in one of four ways so you can take action right away.
          %div{style:'text-align:center'}
            %i.icon-circle-arrow-down{style:'font-size:300%'}
    
      .row.row-fluid.well{style:'margin-top: 20px;'}
        .span12
          %p{style:'text-align:center'} We process their responses and get back to you with one of four possible answers.
        .span12
          .row.row-fluid
            .span3
              %h3
                %i.icon-ok-circle.confirmed.solid
                Confirmed
              %p Congratulations! They gave a definite "yes" answer to your question, so you can take action right away.
            .span3
              %h3
                %i.icon-ban-circle.denied.solid
                Denied
              %p They gave a definite "no" answer to your question, so you can take action to resolve right away.
            .span3
              %h3
                %i.icon-remove-circle.failed.solid
                Unrecognised
              %p They didn't give a definite "yes" or "no" answer, so you might need to follow up to clarify.
            .span3
              %h3
                %i.icon-time.timedout.solid
                No response
              %p They didn't respond in the timeframe you specified, so a follow up might be necessary.
    
      .row
        .span12
          %p.lead.jump-to-next
            Need some real world examples of how it works?
            %a{href:'#inspiration'}
              Find some inspiration.
              %i.icon-circle-arrow-right


  / Inspiration
  #inspiration
    .header
      .container
        .row
          .span3.featurette-icon
            / %img{src: '/images/icon-inspiration.png'}
            %i.icon-lightbulb
          .span9
            %h2.featurette-heading
              Need inspiration?
              %span.muted Here's a few.
            %p.lead Our tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, clients, staff, patients, or just about anyone to ask a question, understand their response, and take intelligent action.

    / Big Ideas
    .container.featurette
      .row
        .span3.idea
          %h3{style:'text-align:right'}
            %i.icon-mobile-phone.icon-3x
            %i.icon-tablet.icon-3x
        .span9 
          %h3 In-app purchases
          %p
            In-app purchasing has opened up a whole new revenue stream for small developers, but it's not without its challenges. With
            = link_to 'recent', 'http://www.guardian.co.uk/uk/video/2013/mar/01/five-1700-ipad-bill-video'
            = link_to 'news', 'http://www.dailymail.co.uk/news/article-2292539/Doh-Eight-year-old-boy-runs-1-000-parents-iPad-buying-virtual-DONUTS-Simpsons-game.html'
            = link_to 'articles', 'http://www.dailymail.co.uk/news/article-2298771/Policeman-Doug-Crossan-reports-13-year-old-son-Cameron-FRAUD-running-3-700-iPad.html'
            all highlighting ridiculous charges for excessive in-app purchasing, there is a definite need to use something more than a password to stop these costly mistakes.
          %p
            SignalCloud can help protect against unexpected in-app purchases with an extra layer of authorisation.
          %p
            %a.btn.btn-primary{href: "/ideas/iap"}
              See how SignalCloud could help
              %i.icon-circle-arrow-right
  
      / Ideas
      .row
        .span4.idea
          %h3<
            %i.icon-credit-card.icon-3x
            %br
            %a{href: "/ideas/cards", style: 'color: #317EAC'}
              Card fraud
          %p Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers.
          %p SignalCloud can help seperate fraud from legit with our easy-to-use tools.
  
        .span4.idea
          %h3<
            %i.icon-gift.icon-3x
            %br
            %a{href: "/ideas/packages", style: 'color: #317EAC'}
              Package delivery
          %p Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package.
          %p SignalCloud can help contact your customers about a delivery, or help reschedule if they won't be there.
  
        .span4.idea
          %h3<
            %i.icon-stethoscope.icon-3x
            %br
            %a{href: "/ideas/appointments", style: 'color: #317EAC'}
              Doctor's visit
          %p Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone.
          %p SignalCloud can help remind your patients of upcoming appointments, or help reschedule if they can't make it.
  
      .row{style:'text-align:center'}
        .span4
          %a.btn.btn-primary{href: "/ideas/cards"}
            See how SignalCloud could help
            %i.icon-circle-arrow-right
        .span4
          %a.btn.btn-primary{href: "/ideas/packages"}
            See how SignalCloud could help
            %i.icon-circle-arrow-right
        .span4
          %a.btn.btn-primary{href: "/ideas/appointments"}
            See how SignalCloud could help
            %i.icon-circle-arrow-right
  
      %p.jump-to-next
        How does the plumbing work?
        %a{href:'#howitworks'}
          Check it out.
          %i.icon-circle-arrow-right


  / How it works
  #howitworks
    .header
      .container
        .row
          .span3.featurette-icon
            / %img{src: '/images/icon-howitworks.png'}
            %i.icon-wrench
          .span9
            %h2.featurette-heading
              How does it work?
              %span.muted It's easy.
            %p.lead Our tools are built on world-class services to connect with mobile phone providers around the world. We manage the connection, letting you focus on asking the questions.

    .container.featurette
      .row
        .span1.offset2{style:'text-align:center'}
          %i.icon-dashboard.icon-4x
        .span9
          %p
            %strong= link_to 'Scalable platforms.', '/platforms'
            We use best-in-class platforms to provide a seamless technical solution.
            Our providers are as dedicated as we are to providing you with a highly available, highly scalable service, ready to grow as you do.
            Our providers average 99.98% uptime.
            = link_to 'Read more.', '/platforms'
            
      .row
        .span1.offset2{style:'text-align:center'}
          %i.icon-lock.icon-4x
        .span9
          %p
            %strong= link_to 'Secure solutions.', '/security'
            Every layer of our solution is protected with industry-grade encryption, from initial API requests through to the database itself.
            We use SSL to protect all communication between you and our servers, while all customer data is securely encrypted and stored in our database.
            We offer periodic purging of customer data as well, ensuring that your valuable customer information cannot fall into the wrong hands.
            = link_to 'Read more.', '/security'
            
      .row
        .span1.offset2{style:'text-align:center'}
          %i.icon-bolt.icon-4x
        .span9
          %p
            %strong= link_to 'Accessible API.', '/api'
            Our automated Application Program Interface is simple and easy to use, allowing you to rapidly integrate our solution into your business processes.
            = link_to 'Read more.', '/api'
            
      .row
        .span12
          %p.lead.jump-to-next
            Ready to get started?
            %a{href:'#getstarted'}
              Sign up now.
              %i.icon-circle-arrow-right


  / Getting started
  #getstarted
    .header
      .container
        .row
          .span3.featurette-icon
            /%img{src: '/images/icon-getstarted.png'}
            %i.icon-road
          .span9
            %h2.featurette-heading
              Ready?
              %span.muted Get started.
            %p.lead
              We're still building the service, making certain it is rock-solid for everyone. Once it's ready we'll open up registration. In the meantime, register your interest by
              = link_to 'getting in touch.', '#contact'

    .container.featurette
      .row
        .span12
          %p.lead.jump-to-next
            Have a few more questions?
            %a{href:'#contact'}
              Get in touch.
              %i.icon-circle-arrow-right

  / Questions
  #contact
    .header
      .container
        .row
          .span3.featurette-icon
            / %img{src: '/images/icon-contactus.png'}
            %i.icon-envelope
          .span9
            %h2.featurette-heading
              Have questions?
              %span.muted We're here.
            %p.lead
              Wondering how SignalCloud could work for you? Need to get some technical answers? Just want to tell us something? We're listening!
              %br
              :javascript
                document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'%'+
                '&'+'#'+'5'+'4'+';'+'8'+'e'+'l'+'&'+'#'+'1'+'0'+'8'+';'+'o'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'1'+'5'+
                ';'+'%'+'6'+'9'+'&'+'#'+'1'+'0'+'3'+';'+'&'+'#'+'3'+'7'+';'+'6'+'E'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+
                '0'+'8'+';'+'c'+'l'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'1'+'1'+'7'+';'+'&'+'#'+'1'+'0'+'0'+';'+'a'+'p'+
                'p'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'3'+'7'+';'+'6'+'3'+'o'+'m'+"'"+'>'+'h'+'e'+'&'+'#'+'1'+'0'+'8'+';'+
                '&'+'#'+'1'+'0'+'8'+';'+'o'+'&'+'#'+'6'+'4'+';'+'s'+'&'+'#'+'1'+'0'+'5'+';'+'g'+'&'+'#'+'1'+'1'+'0'+
                ';'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'9'+'9'+';'+'l'+'o'+'u'+'&'+'#'+'1'+'0'+'0'+
                ';'+'a'+'&'+'#'+'1'+'1'+'2'+';'+'&'+'#'+'1'+'1'+'2'+';'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+'<'+'/'+'a'+
                '>');
              %noscript [Turn on JavaScript to see our contact address]
            %p Or connect with us on Twitter at <a href='https://twitter.com/signalcloud'>@SignalCloud</a>.

    .container.featurette
      .row
        .offset3.span12
          %h3{style:'margin-top:50px'} Wondering who is behind SignalCloud?
      .row
        .offset3.span2
          %img.img-circle{src:'/images/ian.jpg'}
        .span7
          %p
            SignalCloud is the brainchild of <strong>Ian Lloyd</strong>, who realised there was no easy way for a business to get in touch with their customers to authorise an action, such as confirming a package delivery or doctor's appointment.
            Ian is passionate about providing real solutions to real world problems, whether that is through cloud software-as-a-service or public-private partnerships.
          %p
            %ul.inline
              %li
                %i.icon-linkedin-sign
                =link_to 'Linkedin', 'http://uk.linkedin.com/in/ianwyattlloyd'
              %li
                %i.icon-twitter-sign
                =link_to 'Twitter', 'https://twitter.com/ianwlloyd'
              %li
                %i.icon-github-sign
                =link_to 'GitHub', 'https://github.com/illoyd'


/ Footer
= render 'footer'

:javascript
  !function ($) {
    $(function(){
      // carousel demo
      // $('#myCarousel').carousel()
      // $('#tools').affix($('#tools').position) 
    })
  }(window.jQuery)
