.footer
  .container
    .row
      .span3
        %h2 About Us
        %p SignalCloud is supported by a small team dedicated to providing lovingly hand-crafted solutions to small and medium-sized businesses and organisations.
        %p
          &copy; 2013 SignalCloud, llc. á
          %a{:href => "/privacy-and-terms"} Privacy & Terms

      .span9
        %h2 More Info
        .row
          .span3
            %ul
              %li= link_to 'Hello', '/'
              %li= link_to 'What we do', '#whatwedo'
              %li= link_to 'Inspiration', '#inspiration'
              %li= link_to 'How it works', '#howitworks'
              %li= link_to 'Get started', '#getstarted'
              %li= link_to 'Contact us', '#contact'
          .span3
            %p Ideas
            %ul
              %li= link_to 'In-App Purchases', '/ideas/iap'
              %li= link_to 'What we do', '/ideas/cards'
              %li= link_to 'Inspiration', '/ideas/packages'
              %li= link_to 'How it works', '/ideas/appointments'
          .span3
            %p For Developers
            %ul
              %li= link_to 'API', '/api'
              %li= link_to 'Security & Privacy', '/security'
              %li= link_to 'Platform', '/platforms'
