---
title: Doctor's Visit
description: Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone. SignalCloud can help remind your patients of upcoming appointments, or help reschedule if they can't make it.
head_icon: /images/icon-inspiration.png
lead: Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone. <strong>SignalCloud</strong> can help remind your patients of upcoming appointments, or help reschedule if they can't make it.
body_class: inspiration

---

= render 'navbar_inspiration'

/ Heading
.heading
  .container
    .row
      .span3.feature-icon
        %i.icon-stethoscope
      .span9
        %h1
          Doctor's visit.
          %span.muted Messy diary &amp; no-shows?
        %p.lead= @item[:lead]


/ Main content
.container
  %h2
    Messy diary &amp; no-shows?
    %small Or better appointment management?
    
  %p.lead Managing your appointment schedule can be tough. Even with appointments scheduled weeks in advance and reminders mailed out, appointment no-shows can be a big problem. And every no-show is a last minute appointment lost. How can <strong>SignalCloud</strong> help?


  .row.steps
    .offset3.span6.start
      = popover 'top', "You've scheduled your back-to-back appointments and prepared for the day's meetings. Late patients - or worse, no-show patients - can disrupt your carefully planned day. What to do?"
      .icon= icon_stack 'circle', 'stethoscope'

  .row.steps

    / With SignalCloud steps
    .span5.with-signalcloud
      .flow
        %i.icon-arrow-down.icon-rotate-45
      %h3
        %i.icon-ok-sign
        <em>With</em> SignalCloud
      
      .media
        / Step one
        .icon.pull-right= icon_stack 'circle', 'comment', 'question'
        .media-body= popover 'left', "The day before, you could use SignalCloud to send out reminders to every patient - and ask them to reconfirm their appointments. Perhaps this time, you could ask patients to confirm with their postal code, or reply with a 'no' to reschedule their appointments."
        .flow
          %i.icon-arrow-down

        / Step two-a
        .icon.pull-right= icon_stack 'circle', 'comment', 'ok'
        .media-body= popover 'left', "For the patients who respond with a 'yes,' you can be confident that they will make their appointments."
        .flow
          %i.icon-arrow-down

        / Step two-b
        .icon.pull-right= icon_stack 'circle', 'comment', 'remove'
        .media-body= popover 'left', "The small number who respond with a 'no', you can proactively reach out to them to reschedule."
        .flow
          %i.icon-arrow-down

        / Step three
        .icon.pull-right= icon_stack 'circle', 'thumbs-up'
        .media-body= popover 'left', "And for anyone that doesn't respond, you can give them a polite phone call. The volume of phone calls should be manageable even for very large organisations."
        .flow
          %i.icon-arrow-down

        / Bottom line
        .icon.pull-right= icon_stack 'circle', 'thumbs-up'
        .media-body= popover 'left', "Proactive reminders and simple to coordinate rescheduling leads to better time management and happier patients. And SignalCloud makes it all possible."

    / Without SignalCloud steps
    .offset2.span5.without-signalcloud
      .flow
        %i.icon-arrow-down.icon-rotate-315
      %h3
        %i.icon-remove-sign
        <em>Without</em> SignalCloud
      
      .media
        / Step one
        .icon.pull-left= icon_stack 'circle', 'envelope'
        .media-body= popover 'right', "The day before you can send letters in the mail or make robocalls, but you have no confirmation from the patients that they will attend their appointments. You could give everyone a phone call to reconfirm, but the time and cost are prohibitive for any large scale operation."
        .flow
          %i.icon-arrow-down

        / Step two
        .icon.pull-left= icon_stack 'circle', 'calendar'
        .media-body= popover 'right', "The day of the appointment, you can be fairly confident that at least one person will not show for his or her appointment. That time slot could have been given to a last minute appointment for someone else."
        .flow
          %i.icon-arrow-down

        / Step three
        .icon.pull-left= icon_stack 'circle', 'time'
        .media-body= popover 'right', "Sometimes someone knows they will be running late, showing up 15 minutes or more later than their appointment. By then, your appointment schedule is completely off."
        .flow
          %i.icon-arrow-down

        / Step three
        .icon.pull-left= icon_stack 'circle', 'thumbs-down'
        .media-body= popover 'right', "Late appointments and no-shows have a material cost attached, as the United Kingdom's National Healthcare Service can attest. This leads to lower quality care, difficulties in getting access to doctors and nurses, and more. Everyone misses out."


  %h2 Need more inspiration?
  %p Our handcrafted tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, clients, teammates, patients, or just about anyone to ask a question, understand their response, and take intelligent action.

  .row{style:'text-align:center'}
    .span4= render 'idea-iap'
    .span4= render 'idea-cards'
    .span4= render 'idea-packages'
    / .span4= render 'idea-appointments'
