---
title: Card Fraud
description: Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers. SignalCloud can help seperate fraud from legit with our easy-to-use tools.
head_icon: /images/icon-inspiration.png
lead: Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers. <strong>SignalCloud</strong> can help seperate fraud from legit with our easy-to-use tools.
body_class: inspiration

---

= render 'navbar_inspiration'

/ Heading
.heading
  .container
    .row
      .span3.feature-icon
        %i.icon-credit-card
      .span9
        %h1
          Card fraud.
          %span.muted Risk getting it wrong?
        %p.lead= @item[:lead]


/ Main content
.container
  %h2
    Risk getting it wrong?
    %small Or a chance to be proactive?
  %p.lead SignalCloud provides a fast and effective way to verify a purchase with your cardholders, providing some assurance that purchases are legitimate. Your customers will appreciate your proactive security while merchants will recognise the reduced chargebacks and fraudulent transactions.

  .row.steps
    .offset3.span6.start
      = popover 'top', "Lets say your customers are taking a much needed holiday abroad when they use their credit or debit card to make a purchase. Your systems detect it as a possible fraudulent charge. What happens next?"
      .icon= icon_stack 'circle', 'credit-card'

  .row.steps

    / With SignalCloud steps
    .span5.with-signalcloud
      .flow
        %i.icon-arrow-down.icon-rotate-45
      %h3
        %i.icon-ok-sign
        <em>With</em> SignalCloud
      
      .media
        / Step one
        .icon.pull-right= icon_stack 'circle', 'comment', 'question'
        .media-body= popover 'left', "With SignalCloud, you have a quick way to confirm an authorisation if it appears suspicious. In this case, the customer's card could be temporarily held while you use SignalCloud to check with the customer. In this case, you could ask the customer to confirm the total value of the transaction, or a 'no' if they don't recognise it."
        .flow
          %i.icon-arrow-down

        / Step two-a
        .icon.pull-right= icon_stack 'circle', 'comment', 'ok'
        .media-body= popover 'left', "Customers have a few minutes to respond. If they respond with the right answer, you can immediately unblock the card and let the transaction complete."
        .flow
          %i.icon-arrow-down

        / Step two-b
        .icon.pull-right= icon_stack 'circle', 'comment', 'remove'
        .media-body= popover 'left', "With a 'no', you know right away that the transaction is fraudulent and you can take appropriate steps to protect the customer from further fraud. Unlike a phone call, a text message is usually inexpensive even when travelling abroad."
        .flow
          %i.icon-arrow-down

        / Bottom line
        .icon.pull-right= icon_stack 'circle', 'thumbs-up'
        .media-body= popover 'left', "Proactive responses like this helps you protect customers from fraud while providing top-notch service. Your customers will thank you, and it's all thanks to SignalCoud."

    / Without SignalCloud steps
    .offset2.span5.without-signalcloud
      .flow
        %i.icon-arrow-down.icon-rotate-315
      %h3
        %i.icon-remove-sign
        <em>Without</em> SignalCloud
      
      .media
        / Step one
        .icon.pull-left= icon_stack 'circle', 'credit-card'
        .media-body= popover 'right', "Your customer's credit or debit card is instantly blocked. This saves the customer from further fraudulent purchases, but at the expense of completely locking them our of their financial accounts. Not to mention the embarrassment of having a card declined."
        .flow
          %i.icon-arrow-down

        / Step two
        .icon.pull-left= icon_stack 'circle', 'phone'
        .media-body= popover 'right', "You could try to call the customer right away to discuss next steps, but even receiving international calls on a mobile can be prohibitively expensive."
        .flow
          %i.icon-arrow-down

        / Step three
        .icon.pull-left= icon_stack 'circle', 'food'
        .media-body= popover 'right', "Your customers might not be able to pay for further purchases, including hotels, taxis, and more. They'll have to find somewhere to make an international call to your support centre, which can be expensive and time consuming. Worse, if your theft procedures are enacted, they'll have to request brand new cards."
        .flow
          %i.icon-arrow-down

        / Bottom line
        .icon.pull-left= icon_stack 'circle', 'thumbs-down'
        .media-body= popover 'right', "While customers appreciate the stance against fraudulent activity, it can impact the holiday tremendously. A ruined holiday would cause just about anyone to think about changing banks at the next opportunity."


  %h2 Need more inspiration?
  %p Our handcrafted tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, clients, teammates, patients, or just about anyone to ask a question, understand their response, and take intelligent action.

  .row{style:'text-align:center'}
    .span4= render 'idea-iap'
    / .span4= render 'idea-cards'
    .span4= render 'idea-packages'
    .span4= render 'idea-appointments'
