---
title: Card Fraud
description: Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers. SignalCloud can help seperate fraud from legit with our easy-to-use tools.
head_icon: /images/icon-inspiration.png
lead: Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers. <strong>SignalCloud</strong> can help seperate fraud from legit with our easy-to-use tools.

---

- render 'navbar' do
  %ul.nav
    %li
      %a{href:'/#whatwedo'}
        %i.icon-question-sign.icon-large
        What?
    %li
      %a{href:'/#inspiration'}
        %i.icon-lightbulb.icon-large
        Inspiration?
    %li
      %a{href:'/#howitworks'}
        %i.icon-wrench.icon-large
        How?
    %li
      %a{href:'/#getstarted'}
        %i.icon-road.icon-large
        Ready?
    %li
      %a{href:'/#contact'}
        %i.icon-envelope-alt.icon-large
        Questions?
  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{href:'#', 'data-toggle'=>'dropdown'}
        %i.icon-bolt.icon-large
        For Devs
        %b.caret
      %ul.dropdown-menu
        %li= link_to 'API', '/api'
        %li= link_to 'Security & Privacy', '/tos'
        %li= link_to 'Platform', '/platforms'


/ Header area
- render 'header' do
  .btn-toolbar
    %a.btn.btn-info{href: '/ideas/iap'}
      %i.icon-mobile-phone
      %i.icon-tablet
      In-app purchases
    %a.btn.btn-success{href: '/ideas/cards'}
      %i.icon-credit-card
      Card fraud
    %a.btn.btn-info{href: '/ideas/packages'}
      %i.icon-gift
      Package delivery
    %a.btn.btn-info{href: '/ideas/appointments'}
      %i.icon-stethoscope
      Doctor's visit

/ Main content
.container
  .featurette
    / %h2 How does <strong>SignalCloud</strong> work for fraud prevention?
    %p.lead Protecting against credit and debit card fraud is tough. Too stringent on preventing fraud and you'll upset customers as you block legitimate purchases. Too lenient, and the impact on your customers and your bottom line can be substantial. How can <strong>SignalCloud</strong> help?

    .steps
      .step-strip
      / Shared steps
      .row
        .span2.offset5
          %img{src: '/images/idea-card-fraud.png', height: 100, width: 100}
        .span5 Lets say your customers are taking a much needed holiday abroad when they use their credit or debit card to make a purchase. Your systems detect it as a possible fraudulent charge. What happens now?
  
      / Divergent steps
      .row
        / 'Bad' steps
        .span6.bad-steps
          .row
            .span4 Your customer's credit or debit card is instantly blocked. This saves the customer from further fraudulent purchases, but at the expense of complexity locking them our of their financial accounts. Not to mention the embarrassment of having a charge declined.
            .span2
              %img{src: '/images/idea-bad-x.png', height: 100, width: 100}
              .step-tab
          .row
            .span4 You could try to call the customer right away to discuss next steps, but even receiving international calls on a mobile can be prohibitively expensive.
            .span2
              %img{src: '/images/idea-bad-phone.png', height: 100, width: 100}
              .step-tab
          .row
            .span4 Your customers might not be able to pay for further purchases, including hotels, taxis, and more. They'll have to find somewhere to make an international call to your support centre, which can be expensive and time consuming. Worse, if the theft procedures are enacted, they'll have to request brand new cards.
            .span2
              %img{src: '/images/idea-bad-food.png', height: 100, width: 100}
              .step-tab
          .row
            .span4 While customers appreciate the stance against fraudulent activity, it can impact the holiday tremendously. A ruined holiday would cause just about anyone to change banks at the next opportunity.
            .span2
              %img{src: '/images/idea-thumbs-down.png', height: 100, width: 100}
              .step-tab
        
        / 'Good' steps
        .span6.good-steps
          .row
            .span2
              %img{src: '/images/idea-good-conversation-ask.png', height: 100, width: 100}
              .step-tab
            .span4 With SignalCloud, you have a quick way to confirm an authorisation if it appears suspicious. In this case, the customer's card could be temporarily held while you use SignalCloud to check with the customer. In this case, you could ask the customer to confirm the total value of the transaction, or a 'no' if they don't recognise it.
          .row
            .span2
              %img{src: '/images/idea-good-conversation-yes.png', height: 100, width: 100}
              .step-tab
            .span4 Customers have a few minutes to respond. If they respond with a the right answer, you can immediately unblock the card and let the transaction complete. With a 'no', you know right away that the transaction is fraudulent and you can take appropriate steps to protect the customer from further fraud. Unlike a phone call, a text message is usually inexpensive even when travelling abroad.
          .row
            .span2
              %img{src: '/images/idea-thumbs-up.png', height: 100, width: 100}
              .step-tab
            .span4 Proactive responses like this helps you protect customers from fraud while providing top-notch service. Your customers will thank you, and it's all thanks to SignalCoud.

      / Closing steps
      .row
        .span2.offset5
          %img{src: '/images/logo-small.png', height: 100, width: 100}

  %hr#more.featurette-divider/
  .featurette
    %h3 Need some more inspiration?
    %p Our handcrafted tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, clients, teammates, patients, or just about anyone to ask a question, understand their response, and take intelligent action.

    / Ideas
    .row
      .span4.idea
        %h3<
          %i.icon-mobile-phone.icon-3x
          %i.icon-tablet.icon-3x
          %br
          In-app purchases
        %p
          In-app purchasing has opened up a whole new revenue stream for small developers, it is not without its challenges. With
          = link_to 'recent', 'http://www.guardian.co.uk/uk/video/2013/mar/01/five-1700-ipad-bill-video'
          = link_to 'news', 'http://www.dailymail.co.uk/news/article-2292539/Doh-Eight-year-old-boy-runs-1-000-parents-iPad-buying-virtual-DONUTS-Simpsons-game.html'
          = link_to 'articles', 'http://www.dailymail.co.uk/news/article-2298771/Policeman-Doug-Crossan-reports-13-year-old-son-Cameron-FRAUD-running-3-700-iPad.html'
          all highlighting ridiculous charges for excessive in-app purchasing, there is a definite need to use something more than a password to stop these costly mistakes.
        %p SignalCloud can help protect against unexpected in-app purchases with an extra layer of authorisation.

      .span4.idea
        %h3<
          %i.icon-gift.icon-3x
          %br
          Package delivery
        %p Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package.
        %p SignalCloud can help contact your customers about a delivery, or help reschedule if they won't be there.

      .span4.idea
        %h3<
          %i.icon-tablet.icon-3x
          %br
          Doctor's visit
        %p Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone.
        %p SignalCloud can help remind your patients of upcoming appointments, or help reschedule if they can't make it.

    .row{style:'text-align:center'}
      .span4
        %a{:href => "/ideas/iap"}
          See how SignalCloud could help
          %i.icon-circle-arrow-right
      .span4
        %a{:href => "/ideas/packages"}
          See how SignalCloud could help
          %i.icon-circle-arrow-right
      .span4
        %a{:href => "/ideas/appointments"}
          See how SignalCloud could help
          %i.icon-circle-arrow-right

/ Footer
= render 'footer'
