---
title: In-App Purchases
description: In-app purchasing has created up a whole way for small developers to publish great new applications while still earning a living, but it is not without its challenges. SignalCloud can help your customer's manage their in-app purchases.
head_icon: /images/icon-inspiration.png
lead: In-app purchasing has created up a whole way for small software developers to publish great new applications while still earning a living, but it is not without its challenges. <strong>SignalCloud</strong> can help your customer's manage their in-app purchases.
body_class: inspiration

---

= render 'navbar_inspiration'

/ Heading
.heading
  .container
    .row
      .span3.feature-icon
        %i.icon-cogs
      .span9
        %h1
          In-app purchases.
          %span.muted A branding nightmare?
        %p.lead= @item[:lead]

/ Main content
.container

  .featurette
    / %h2 How does it work for in-app purchases?
    %p.lead In-App Purchasing has driven the growth of free-to-try applications while...
    %p.lead However, IAP can result in surprise bills at the end of the month as each small transaction adds up. 

    .steps
      .step-strip
      / Shared steps
      .row
        .span2.offset5
          %img{src: '/images/idea-iap.png', height: 100, width: 100}
        .span5 Children can learn a lot through tablet devices. Textbooks, interactive encyclopaedias, video tutorials, and so much more can be found with just a few taps. And of course a few simple games can help many kids pass the time. Letting a young person use a tablet is the new normal.
  
      / Divergent steps
      .row
        / 'Bad' steps
        .span6.bad-steps
          .row
            .span4 Of course, the IAP virtual store is also just a few taps away. It can be scarily easy how quickly a few taps can lead to purchased virtual goods. Without SignalCloud, there is usually no immediate notice to the device owner that a purchase has been made.
            .span2
              %img{src: '/images/idea-bad-stuff.png', height: 100, width: 100}
              .step-tab
          .row
            .span4 Each of those purchases can add up, leading to huge bills at the end of the month for unsuspecting users.  Sometimes thousands of dollars in a matter of minutes.
            .span2
              %img{src: '/images/idea-bad-money.png', height: 100, width: 100}
              .step-tab
          .row
            .span4 This leads to irate customers who blame the tablet maker, creating harmful publicity and tarnishing the brand.
            .span2
              %img{src: '/images/idea-thumbs-down.png', height: 100, width: 100}
              .step-tab
        
        / 'Good' steps
        .span6.good-steps
          .row
            .span2
              %img{src: '/images/idea-good-conversation-ask.png', height: 100, width: 100}
              .step-tab
            .span4 With SignalCloud, attempts to purchase something from a virtual store triggers an immediate alert to the tablet's owner, asking for confirmation before authorising the purchase. In this case, SignalCloud might ask the owner to respond with the amount of the purchase, as a second reminder that this was a real purchase with real money.
          .row
            .span2
              %img{src: '/images/idea-good-conversation-yes.png', height: 100, width: 100}
              .step-tab
            .span4 The tablet owner has a few minutes to respond with a 'yes' or 'no' answer. With a 'yes' the purchase is completed and unlocked on the device. With a 'no' answer, the purchase is cancelled - giving the tablet owner peace of mind that they won't be charged.
          .row
            .span2
              %img{src: '/images/idea-thumbs-up.png', height: 100, width: 100}
              .step-tab
            .span4 This helps prevent huge surprise bills, and helps protect the brand from potentially ridiculous accusations and lawsuits. All thanks to SignalCloud's simple two-factor authorisation!

      / Closing steps
      .row
        .span2.offset5
          %img{src: '/images/logo-small.png', height: 100, width: 100}


  %hr#more.featurette-divider/
  .featurette
    %h3 Need some more inspiration?
    %p Our handcrafted tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, clients, teammates, patients, or just about anyone to ask a question, understand their response, and take intelligent action.

    .row{style:'text-align:center'}
      / .span4= render 'idea-iap'
      .span4= render 'idea-cards'
      .span4= render 'idea-packages'
      .span4= render 'idea-appointments'
