---
title: Package Delivery
description: Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package. SignalCloud can help contact your customers about a delivery, or help reschedule if they won't be there.
head_icon: /images/icon-inspiration.png
lead: Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package. <strong>SignalCloud</strong> can help contact your customers about a delivery, or help reschedule if they won't be there.
body_class: inspiration

---

= render 'navbar_inspiration'

/ Heading
.heading
  .container
    .row
      .span3.feature-icon
        %i.icon-truck
      .span9
        %h1
          Package delivery.
          %span.muted Leave it on the front step?
        %p.lead= @item[:lead]


/ Main content
.container
  %h2
    Leave it on the front step?
    %small Or deliver right on time?
  %p.lead At-home delivery is a growing business proposition, helping local small businesses compete with big box retailers by providing a friendlier, more convenient service. However, at-home deliveries carry their own challenges, distinct from anything anything small businesses have dealt with before. Trying to deliver when your customers are not home can be a huge impact to your bottom line. How can <strong>SignalCloud</strong> help?

  .row.steps
    .offset3.span6.start
      = popover 'top', "Your customer has placed an order and the package is ready to be delivered. You've  tentatively scheduled their delivery date. What's next?"
      .icon= icon_stack 'circle', 'truck'

  .row.steps
    / With SignalCloud steps
    .span5.with-signalcloud
      .flow
        %i.icon-arrow-down.icon-rotate-45
      %h3
        %i.icon-ok-sign
        <em>With</em> SignalCloud
      
      .media
        / Step one
        .icon.pull-right= icon_stack 'circle', 'comment', 'question'
        .media-body= popover 'left', "With SignalCloud, before your delivery date, you could send a reminder and ask your customer if they will be at home during a certain time. You might ask them to confirm with their postal code, just as an extra check."
        .flow
          %i.icon-arrow-down

        / Step two-a
        .icon.pull-right= icon_stack 'circle', 'comment', 'ok'
        .media-body= popover 'left', "If they respond with the right answer, you know they have confirmed they will be ready and waiting for your package to arrive."
        .flow
          %i.icon-arrow-down

        / Step two-b
        .icon.pull-right= icon_stack 'circle', 'comment', 'remove'
        .media-body= popover 'left', "If they ask to reschedule, you can take steps right away to set up a new delivery date. This also let's you free up a delivery slot, and possible accept a new last-minute delivery request. And perishable deliveries like groceries won't spoil while waiting to be delivered."
        .flow
          %i.icon-arrow-down

        / Bottom line
        .icon.pull-right= icon_stack 'circle', 'thumbs-up'
        .media-body= popover 'left', "You've provided first class service to your customers and kept control over your book of deliveries, all while saving on the cost of packing and delivering to an empty household. And it's thanks to SignalCloud's easy to use service!"

    / Without SignalCloud steps
    .offset2.span5.without-signalcloud
      .flow
        %i.icon-arrow-down.icon-rotate-315
      %h3
        %i.icon-remove-sign
        <em>Without</em> SignalCloud
      
      .media
        / Step one
        .icon.pull-left= icon_stack 'circle', 'phone'
        .media-body= popover 'right', "Calling or mailing your customers is one option, but is definitely time consuming and possibly expensive, and there is no guarantee your customer will get your message."
        .flow
          %i.icon-arrow-down

        / Step two
        .icon.pull-left= icon_stack 'circle', 'home'
        .media-body= popover 'right', "If you arrange a delivery without checking with your customer, they might not be at home to receive the package. You'll have to try again another time or day, and run the same risk."
        .flow
          %i.icon-arrow-down

        / Step three
        .icon.pull-left= icon_stack 'circle', 'gift'
        .media-body= popover 'right', "You could leave the package, but who knows what might happen. A valuable package could be stolen, while groceries or other perishables might become soiled or go bad."
        .flow
          %i.icon-arrow-down

        / Bottom line
        .icon.pull-left= icon_stack 'circle', 'thumbs-down'
        .media-body= popover 'right', "Either way, you've lost valuable time and money preparing packages and paying for failed deliveries. And your customers are upset because they haven't received their purchases."


  %h2 Need more inspiration?
  %p Our handcrafted tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, clients, teammates, patients, or just about anyone to ask a question, understand their response, and take intelligent action.

  .row{style:'text-align:center'}
    .span4= render 'idea-iap'
    .span4= render 'idea-cards'
    / .span4= render 'idea-packages'
    .span4= render 'idea-appointments'
